<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}">
    <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">
    
    <title layout:title-pattern="$CONTENT_TITLE | LapPick"></title>

    <link rel="stylesheet" href="/resources/css/setting.css">
    <link rel="stylesheet" href="/resources/css/plugin.css">
    <link rel="stylesheet" href="/resources/css/template.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    
    <th:block layout:fragment="css"></th:block>
</head>
<body>
    <div th:replace="~{../fragments/header :: headerFragment}"></div>

    <th:block layout:fragment="content"></th:block>

    <div th:replace="~{../fragments/footer :: footerFragment}"></div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="/resources/js/setting.js"></script>
    <script src="/resources/js/plugin.js"></script>
    <script src="/resources/js/template.js"></script>
    <script src="/resources/js/common.js"></script>
    <script src="/resources/js/script.js"></script>
    
    <script th:inline="javascript">
        function forceCenterCartBadge(count) {
            const cartCountSpan = $('#cart-item-count');
            if (count > 0) {
                cartCountSpan.text(count);
                cartCountSpan.css({
                    'display': 'flex',
                    'justify-content': 'center',
                    'align-items': 'center',
                    
                    /* 뱃지 위치: 아이콘 기준 우측 하단 */
                    'position': 'absolute',
                    'top': 'auto',
                    'bottom': '-4px',
                    'left': 'auto',
                    'right': '-5px',

                    /* 폰트 위치 미세 조정 (수직 중앙 정렬) */
                    'padding-top': '3px',

                    /* 뱃지 기본 스타일 */
                    'height': '18px',
                    'min-width': '18px',
                    'padding-left': '3px', 
                    'padding-right': '3px',
                    'box-sizing': 'border-box',
                    'background-color': '#222',
                    'color': 'white',
                    'border-radius': '50%',
                    'font-size': '11px',
                    'font-weight': '600',
                    'line-height': '1'
                });
            } else {
                cartCountSpan.hide();
            }
        }

        $(document).ready(function() {
            const csrfTokenMeta = document.querySelector('meta[name="_csrf"]');
            const csrfHeaderMeta = document.querySelector('meta[name="_csrf_header"]');

            window.appendCsrfHiddenInput = function(form) {
                if (!form || !csrfTokenMeta || !csrfHeaderMeta) {
                    return;
                }

                if (form.querySelector('input[name="_csrf"]')) {
                    return;
                }

                const hidden = document.createElement('input');
                hidden.type = 'hidden';
                hidden.name = '_csrf';
                hidden.value = csrfTokenMeta.content;
                form.appendChild(hidden);
            };

            if (csrfTokenMeta && csrfHeaderMeta) {
                $(document).ajaxSend(function(event, xhr, settings) {
                    const method = (settings.type || 'GET').toUpperCase();
                    if (method === 'GET' || method === 'HEAD' || method === 'OPTIONS' || method === 'TRACE') {
                        return;
                    }

                    xhr.setRequestHeader(csrfHeaderMeta.content, csrfTokenMeta.content);
                });
            }

            const isLoggedIn = /*[[${#authentication.principal != 'anonymousUser'}]]*/ false;
            if (isLoggedIn) {
                setTimeout(function() {
                    $.get("/cart/count", function(count) {
                        forceCenterCartBadge(count);
                    });
                }, 100);
            }

            $('#header-cart-icon').on('click', function() {
                if (/*[[${#authorization.expression('isAnonymous()')}]]*/) {
                    if (confirm('장바구니를 이용하시려면 로그인 하셔야 합니다.\n로그인 페이지로 이동하시겠습니까?')) {
                        window.location.href = /*[[@{/auth/login}]]*/ '/auth/login';
                    }
                } else if (/*[[${#authorization.expression('hasRole(''ROLE_EMPLOYEE'')')}]]*/) {
                    alert('직원은 장바구니 이용이 불가합니다.');
                } else {
                    window.location.href = '/cart/cartList';
                }
            });
        });
    </script> 
<script th:inline="javascript">
      /*<![CDATA[*/
        
        const urlParams = new URLSearchParams(window.location.search);
        const msgParam = urlParams.get('message');
        
        if (msgParam === 'withdrawSuccess') {
            alert("회원 탈퇴가 정상적으로 처리되었습니다.\n그동안 LapPick을 이용해주셔서 감사합니다.");
            // 메시지 중복 알림 방지를 위해 URL에서 파라미터를 제거합니다.
            window.history.replaceState({}, document.title, "/");
        }

        const flashMessage = /*[[${message}]]*/ null;
        
      
      /*]]>*/
    </script>
    <th:block layout:fragment="script"></th:block>
</body>
</html>
